<a href="https://colab.research.google.com/github/dksdpcks1/000/blob/master/20161508_%EC%95%88%EC%98%88%EC%B0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **모듈 불러오기**

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
tf.__version__

'2.4.0'

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **엑셀 불러오기**

In [58]:
filename = '/content/drive/MyDrive/duih_dfa.xlsx'

In [60]:
brain = pd.read_excel(filename)
brain.head()

    Group       Fp1        F7        T3  ...        F4        C4        P4        O2
0  NonCZP  0.453575  0.564042  0.556784  ...  0.530255  0.750381  0.513921  0.388215
1  NonCZP  0.468788  0.464526  0.556084  ...  0.364096  1.365283  0.246469  0.480016
2  NonCZP  0.761824  0.713902  0.551635  ...  1.107768  1.070519  0.763317  0.728678
3  NonCZP  0.320513  1.041483  0.562281  ...  0.461525  0.869266  0.306688  0.469720
4  NonCZP  0.550035  0.642381  1.062290  ...  0.875171  0.830093  0.627568  0.961302

[5 rows x 19 columns]

In [61]:
print(brain)

        Group       Fp1        F7  ...        C4        P4        O2
0      NonCZP  0.453575  0.564042  ...  0.750381  0.513921  0.388215
1      NonCZP  0.468788  0.464526  ...  1.365283  0.246469  0.480016
2      NonCZP  0.761824  0.713902  ...  1.070519  0.763317  0.728678
3      NonCZP  0.320513  1.041483  ...  0.869266  0.306688  0.469720
4      NonCZP  0.550035  0.642381  ...  0.830093  0.627568  0.961302
...       ...       ...       ...  ...       ...       ...       ...
31075     CZP  0.852304  0.765143  ...  0.199074  0.866088  0.537417
31076     CZP  0.788118  0.677485  ...  1.003391  0.642248  0.504024
31077     CZP  0.890973  0.538311  ...  0.865412  0.660497  0.955419
31078     CZP  1.279263  1.172636  ...  1.302551  1.473136  1.106737
31079     CZP  0.474424  0.668689  ...  0.504502  1.129228  0.543831

[31080 rows x 19 columns]

# **손실값 파악**

In [62]:
brain.isnull().sum()

Group     0
Fp1       7
F7       33
T3       55
T5       55
F3       32
C3       26
P3       32
O1       37
Fz       20
Pz       27
Fp2      28
F8       43
T4       13
T6       25
F4       37
C4       41
P4       21
O2       38
dtype: int64

# **결측값을 평균값으로 대체**

In [63]:
brainre=brain.fillna(0.717008)
brainre

        Group       Fp1        F7  ...        C4        P4        O2
0      NonCZP  0.453575  0.564042  ...  0.750381  0.513921  0.388215
1      NonCZP  0.468788  0.464526  ...  1.365283  0.246469  0.480016
2      NonCZP  0.761824  0.713902  ...  1.070519  0.763317  0.728678
3      NonCZP  0.320513  1.041483  ...  0.869266  0.306688  0.469720
4      NonCZP  0.550035  0.642381  ...  0.830093  0.627568  0.961302
...       ...       ...       ...  ...       ...       ...       ...
31075     CZP  0.852304  0.765143  ...  0.199074  0.866088  0.537417
31076     CZP  0.788118  0.677485  ...  1.003391  0.642248  0.504024
31077     CZP  0.890973  0.538311  ...  0.865412  0.660497  0.955419
31078     CZP  1.279263  1.172636  ...  1.302551  1.473136  1.106737
31079     CZP  0.474424  0.668689  ...  0.504502  1.129228  0.543831

[31080 rows x 19 columns]

# **결측값을 제거한 것과 안한것 시각적 비교**

In [64]:
#원래의 값
brain.isnull().sum()

Group     0
Fp1       7
F7       33
T3       55
T5       55
F3       32
C3       26
P3       32
O1       37
Fz       20
Pz       27
Fp2      28
F8       43
T4       13
T6       25
F4       37
C4       41
P4       21
O2       38
dtype: int64

In [65]:
#손실값을 평균값으로 대체
brainre.isnull().sum()

Group    0
Fp1      0
F7       0
T3       0
T5       0
F3       0
C3       0
P3       0
O1       0
Fz       0
Pz       0
Fp2      0
F8       0
T4       0
T6       0
F4       0
C4       0
P4       0
O2       0
dtype: int64

# **데이터 준비**

In [66]:
data = brainre.iloc[0:,1:]
data

            Fp1        F7        T3  ...        C4        P4        O2
0      0.453575  0.564042  0.556784  ...  0.750381  0.513921  0.388215
1      0.468788  0.464526  0.556084  ...  1.365283  0.246469  0.480016
2      0.761824  0.713902  0.551635  ...  1.070519  0.763317  0.728678
3      0.320513  1.041483  0.562281  ...  0.869266  0.306688  0.469720
4      0.550035  0.642381  1.062290  ...  0.830093  0.627568  0.961302
...         ...       ...       ...  ...       ...       ...       ...
31075  0.852304  0.765143  0.681175  ...  0.199074  0.866088  0.537417
31076  0.788118  0.677485  0.627501  ...  1.003391  0.642248  0.504024
31077  0.890973  0.538311  0.547298  ...  0.865412  0.660497  0.955419
31078  1.279263  1.172636  0.697928  ...  1.302551  1.473136  1.106737
31079  0.474424  0.668689  0.917154  ...  0.504502  1.129228  0.543831

[31080 rows x 18 columns]

In [67]:
print("data.shape = {0}".format(data.shape))

data.shape = (31080, 18)

In [68]:
target = brainre.iloc[0:,0:1]

In [69]:
print("target.shape = {0}".format(target.shape))
target = target.replace("NonCZP",0)
target = target.replace("CZP",1)
target

target.shape = (31080, 1)

       Group
0          0
1          0
2          0
3          0
4          0
...      ...
31075      1
31076      1
31077      1
31078      1
31079      1

[31080 rows x 1 columns]

In [70]:
x_train,x_test,y_train, y_test = train_test_split(data, target, random_state=20161508)

In [71]:
print("x_train.shape = {0}".format(x_train.shape))
print("x_test.shape = {0}".format(x_test.shape))
print("y_train.shape = {0}".format(y_train.shape))
print("y_test.shape = {0}".format(y_test.shape))

x_train.shape = (23310, 18)
x_test.shape = (7770, 18)
y_train.shape = (23310, 1)
y_test.shape = (7770, 1)

# **KNeighborsClassifier**

In [72]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [73]:
result = knn.predict(x_test)
y_test = np.array(y_test)

answer = np.array(y_test).flatten().tolist()
y_test = np.array(answer)
print(y_test)
print(result)

[0 0 1 ... 1 0 1]
[0 0 0 ... 0 0 1]

In [74]:
print("KNN정확도 : ",np.mean(y_test == result))

KNN정확도 :  0.5517374517374517

# **SGDClassfilter**

In [75]:
from sklearn.linear_model import SGDClassifier

sgd = SGDClassifier(loss='log', max_iter=100, tol=1e-3, random_state=20161508)

In [76]:
sgd.fit(x_train, y_train) 
abc = sgd.score(x_test, y_test)
print("SGD 오차률 : ", abc)

SGD 오차률 :  0.5032175032175032

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# **LogisticRegression**

In [77]:
from sklearn.linear_model import LogisticRegression

In [78]:
model = LogisticRegression()
model.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [79]:
print("LogisticRegression 정확도 :",model.score(x_test,y_test))

LogisticRegression 정확도 : 0.584041184041184

In [80]:

from sklearn.model_selection import cross_val_score
logreg = LogisticRegression()
SGD = SGDClassifier()
KNE = KNeighborsClassifier()
scores = cross_val_score(logreg, x_test, y_test, cv=5)
scores1 = cross_val_score(SGD, x_test, y_test, cv=5)
scores2 = cross_val_score(KNE, x_test, y_test, cv=5)

print("Logistic 교차 검증 점수: {}".format(scores))
print("평균값:  {:.2f}".format(scores.mean()))

print("SGD 교차 검증 점수: {}".format(scores1))
print("평균값:  {:.2f}".format(scores1.mean()))

print("KNE 교차 검증 점수: {}".format(scores2))
print("평균값:  {:.2f}".format(scores2.mean()))

Logistic 교차 검증 점수: [0.58301158 0.57271557 0.58558559 0.58751609 0.58944659]
평균값:  0.58
SGD 교차 검증 점수: [0.58301158 0.58687259 0.58880309 0.58687259 0.56692407]
평균값:  0.58
KNE 교차 검증 점수: [0.57400257 0.55855856 0.53410553 0.51673102 0.55341055]
평균값:  0.55